<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lj.dreamcloud.mapper.ImgOrderMapper">
    <insert id="addImgOrder" parameterType="ImgOrder">
        insert into img_order(username,tel,qq,imgname) values(#{username},#{tel},#{qq},#{imgname});
    </insert>

    <select id="getImgUndisposed" resultType="ImgOrder">
        select * from img_order where sta="1"
    </select>

    <select id="getImgdisposed" resultType="ImgOrder">
        select * from img_order where sta="0"
    </select>

    <update id="imgHaveDownloaded" parameterType="java.lang.String">
        update img_order set sta="0" where imgname=#{imgname}
    </update>
</mapper>